extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  table.table.table-striped
    thead
      tr
        th(scope="col") #
        th(scope="col") Nombre
        th(scope="col") Apellido
        th(scope="col") Direccion 
    tbody
      - let ord=0
      each usuario in usuarios 
        - ord++
        tr
          td #{ord}
          td #{usuario.name}
          td #{usuario.lastname}
          td #{usuario.direction}
  hr