extends layout

block content
  // Inicia el contenido de la página
  header
      // Fixed navbar
      nav.navbar.navbar-expand-md.fixed-top.bg-dark.navbar-dark.text-white
        .container-fluid
          a.navbar-brand(href='/') Proyecto MERN
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarCollapse.collapse.navbar-collapse
            // Nueva versión de las opciones OJO: me-auto mb-2 mb-md-0  en la lista ul
            ul.nav.col-12.col-lg-auto.my-2.justify-content-center.my-md-0.text-small
              li
                a.nav-link.text-white(href='/')
                  svg.bi.d-block.mx-auto.mb-1(width='24' height='24')
                    use(xlink:href='#home')
                  |  Home
              li.nav-item.dropdown
                a#usuarios.nav-link.dropdown-toggle.active(href='#' data-bs-toggle='dropdown' aria-expanded='false')
                  svg.bi.d-block.mx-auto.mb-1(width='24' height='24')
                    use(xlink:href='#people-circle')
                  |  Users
                ul.dropdown-menu(aria-labelledby='usuarios')
                  li
                    a.dropdown-item(href='/users/add') Create
                  li
                    a.dropdown-item(href='#') Read One
                  li
                    a.dropdown-item(href='/users/list') Read All
                  li
                    a.dropdown-item(href='#') Update
                  li
                    a.dropdown-item(href='#') Delete
              li
                a.nav-link.text-white(href='/about')
                  svg.bi.d-block.mx-auto.mb-1(width='24' height='24')
                    use(xlink:href='#grid')
                  |  About

  main.flex-shrink-0
    .container
      h1.mt-5 Users

      .row.g-3
        .col-md-2
        .col-md-8
          h1.text-center Creación de Usuarios
          .card
            .card-body
              form.row.g-3(action, method="post", role="form")
                .col-md-6
                  label.form-label(for="nombre") Nombre
                  input.form-control#nombre(type="text", name="nombre", value=nombre , readonly='', placeholder="Ingrese el nombre del usuario")
                .col-md-6
                  label.form-label(for="apellido") Apellido
                  input.form-control#apellido(type="text", name="apellido", value=apellido, readonly='' ,  placeholder="Ingrese el apellido del usuario")
                .col-12
                  label.form-label(for="direccion") Dirección
                  input.form-control#direccion(type="text", name="direccion", value=direccion , readonly='', placeholder="Ingrese la dirección del usuario")
                .col-md-4
                  label.form-label(for="identificacion") Identificación
                  input.form-control#identificacion(type="number", name="identificacion", value=identificacion, readonly='' , placeholder="Ingrese la identificación del usuario")
                .col-md-4
                  label.form-label(for="edad") Edad
                  input.form-control#edad(type="number", name="edad", value=edad, readonly='' , placeholder="Ingrese la edad del usuario")
                .col-md-4
                  label.form-label(for="telefono") Teléfono
                  input.form-control#telefono(type="number", name="telefono", value=telefono, readonly='' , placeholder="Ingrese el teléfono del usuario")
                .col-md-6
                  .col-md-12.mb-3
                    label.form-label(for="tipo") Tipo de Materia
                    select#tipo.form-select(name="tipo", disabled , value=tipo , readonly='')
                      option(selected) Seleccione el tipo de materia
                      option(value="Presencial") Presencial
                      option(value="Virtual") Virtual
                  .col-md-12.mb-3
                    label.form-label(for="carrera") Carrera
                    input.form-control#carrera(type="text", name="carrera", value=carrera, readonly='' , placeholder="Ingrese el nombre de la carrera")
                  .col-md-12.mb-3
                    label.form-label(for="fecha") Fecha de Creación
                    input.form-control#fecha(type="date", name="creado", value=creado, readonly='', placeholder="Fecha Actual")
                .col-md-6.d-flex.mb-3
                  label.col-md-3.col-form-label(for="materias") Materias
                  //  <input class="form-control" id="materias" type="text" name="nombres" placeholder="Ingrese las materias separadas por comas" /> 
                  select#materias.form-select(name="nombres", value=nombres, readonly='', disabled , multiple, aria-label="multiple select materias")
                    option(selected) Seleccione las materias
                    option(value="Desarrollo web 1") Desarrollo web 1
                    option(value="Desarrollo web 2") Desarrollo web 2
                    option(value="Desarrollo web 3") Desarrollo web 3
                    option(value="Fotografía 1") Fotografía 1
                    option(value="Fotografía 2") Fotografía 2
                    option(value="Fotografía 3") Fotografía 3
                    option(value="Periodismo 1") Periodismo 1
                    option(value="Periodismo 2") Periodismo 2
                    option(value="Periodismo 3") Periodismo 3

                .col-md-12.mb-3
                  label.form-label(for="documento") Documento
                  input.form-control#documento(type="text", name="documento", value=documento, readonly='' , placeholder="Documento")

                button.btn.btn-outline-primary(type="submit") Eliminar Usuario

  // Inicia el contenido del footer
  footer.footer.mt-auto.py-3.bg-light.fixed-bottom
    .container
      span.text-muted Welcome to #{mensaje}
